html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', 'Fraunces', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: #FEFCF7;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Для Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для остальных (Firefox) + общая */
input[type="number"] {
  -moz-appearance: textfield;   /* Firefox */
  -webkit-appearance: textfield;/* Safari */
  appearance: textfield;
}

/* Убираем иконку календаря у input[type="date"] */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Firefox */
input[type="date"] {
  -moz-appearance: textfield;
}

